<div>
    <div class="container">


            <!-- HEADER AND TODO COUNT -->
            <div class="jumbotron text-center">
                <h2>I'm a Todo-aholic with <span class="label label-info">{{ todoLists.length }}</span> todo lists!</h2>
            </div>

            <!-- TODO LIST DropDown-->
            <div class="btn-group" dropdown is-open="status.isopen">
                  <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                    Load list <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="todoList in todoLists" ng-click="loadList(todoList.id)">{{ todoList.name }}</li>
                    <li class="divider"></li>
                    <li ng-click="openNewListModal()">Create new list</li>
                  </ul>
            </div>


            <!-- TODO LIST -->
            <div id="todo-list" class="row" ng-if="currentList">
                <div class="col-sm-4 col-sm-offset-4">
                    <h2>{{ currentList.name }} todo list!</h2>
                    <!-- LOOP OVER THE TODOS IN $scope.todos -->
                    <div class="checkbox" ng-repeat="todo in currentList.todos">
                        <label>
                            <input type="checkbox" ng-click="deleteTodo(currentList.id, todo.id)"> {{ todo.task }}
                        </label>
                    </div>

                </div>
            </div>

            <!-- FORM TO CREATE TODOS -->
            <div id="todo-form" class="row" ng-if="currentList">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <form>
                        <div class="form-group">

                            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                            <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.task">
                        </div>

                        <!-- createToDo() WILL CREATE NEW TODOS -->
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo(currentList.id)">Add</button>
                    </form>
                </div>
            </div>

        </div>
</div>